# Inverse Linear Regression Proof (Insurance Data)

In this notebook we want to check if both ways of 'inverse linear regression' lead to the same result!
 
Write the function that uses expenses as input and age as output!
* Upload and preprocess the data
* Write a function to compute the Simple Linear Regression weights with sqft_living as output and expenses as input
* Write a function to make predictions of the output given the input feature of $12.000
 
Then write a function that uses sqft_living as input and price as output and invert it!
* Write a function to compute the Simple Linear Regression weights with expenses as output and age as input
* Write a function to make predictions of the input given the output feature of $12.000

# Upload and preprocess the data

Dataset on insurance data (insurance.csv) is obtained from the Machine Learning course website (Spring 2017) from Professor Eric Suess at http://www.sci.csueastbay.edu/~esuess/stat6620/#week-6.

In [27]:
import pandas as pd
data = pd.read_csv('insurance.csv')
# Look at the table to check potential features
data[:10]

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86
5   31  female  25.7         0     no  southeast   3756.62
6   46  female  33.4         1     no  southeast   8240.59
7   37  female  27.7         3     no  northwest   7281.51
8   37    male  29.8         2     no  northeast   6406.41
9   60  female  25.8         0     no  northwest  28923.14

# Split data into training and testing

In [28]:
from sklearn.model_selection import train_test_split
# Split data set into 80% train and 20% test data 
train_data, test_data = train_test_split(data, test_size=0.2, random_state=0)
# Look at the shape to check the split ratio
train_data.shape, test_data.shape

((1070, 7), (268, 7))

# Build a generic simple linear regression function