# Multipe Regression (Friday - Insurance Data)

In this notebook we use a different data set to practice what we have learned so far:
* Upload and preprocess the data
* Write a function to compute the Multiple Regression weights
* Write a function to make predictions of the output given the input feature
* Compare different models for predicting the output

Look at the Multiple Regression notebook on house data!

# Import all required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

# Upload, preprocess and check the data

Dataset on insurance data (insurance.csv) is obtained from the Machine Learning course website (Spring 2017) from Professor Eric Suess at http://www.sci.csueastbay.edu/~esuess/stat6620/#week-6.

In [2]:
# Import dataset
data = pd.read_csv('insurance.csv')

# Look at the table to check potential features
data[:10]

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86
5   31  female  25.7         0     no  southeast   3756.62
6   46  female  33.4         1     no  southeast   8240.59
7   37  female  27.7         3     no  northwest   7281.51
8   37    male  29.8         2     no  northeast   6406.41
9   60  female  25.8         0     no  northwest  28923.14

In [3]:
# Check if the dataset contains NaN values

In [4]:
# Check some statistics of the data

In [5]:
# Plot some feature relations

In [6]:
# Plot some feature relations

In [7]:
# Plot some feature relations

In [8]:
# Divide the data into some 'attributes' (X) and 'labels' (y).
X = data[['bmi','children', 'age']].values
y = data['expenses'].values

# Split data into training and testing

In [9]:
# Split data set into 80% train and 20% test data 

# Look at the shape to check the split ratio

# Use a pre-build multiple regression function

In [10]:
# Train a Sklearn built-in function

In [11]:
# See intercept and coefficients chosen by the model

In [12]:
# Do prediction on test data

In [13]:
# Check differences between actual and predicted value

In [14]:
# Evaluate the performance

# For more information on performance evaluation see also
* https://en.wikipedia.org/wiki/Mean_absolute_error
* https://en.wikipedia.org/wiki/Mean_squared_error
* https://en.wikipedia.org/wiki/Root-mean-square_deviation